<section class="flex flex-col overflow-auto w-full h-full">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, explicabo fuga. Nulla alias, quis quibusdam
  accusantium officia ab voluptatibus totam, pariatur quisquam perferendis rerum voluptatum. Quia sequi molestiae
  temporibus atque?
  Rem assumenda modi ullam aliquam velit ipsam? Fuga atque officia eligendi dignissimos sint ullam sunt, tenetur sit
  tempora? Optio, similique pariatur a quasi assumenda ratione cupiditate quaerat labore ipsum incidunt.
  Explicabo vero nihil amet quo distinctio enim, minima voluptatum at officia voluptates modi inventore obcaecati
  doloremque ipsum voluptatem nam ad ab aliquid atque reiciendis repudiandae sequi quia nulla maiores? Nihil!
  Perferendis quo quidem assumenda aliquid inventore, numquam aliquam reiciendis porro. Culpa, mollitia autem voluptas
</section>

<!-- chat section -->