<!-- content section -->
<section class="flex flex-col items-center overflow-auto w-full h-full">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, explicabo fuga. Nulla alias, quis quibusdam
  accusantium officia ab voluptatibus totam, pariatur quisquam perferendis rerum voluptatum. Quia sequi molestiae
  temporibus atque?
  Rem assumenda modi ullam aliquam velit ipsam? Fuga atque officia eligendi dignissimos sint ullam sunt, tenetur sit
  tempora? Optio, similique pariatur a quasi assumenda ratione cupiditate quaerat labore ipsum incidunt.
  Explicabo vero nihil amet quo distinctio enim, minima voluptatum at officia voluptates modi inventore obcaecati
  doloremque ipsum voluptatem nam ad ab aliquid atque reiciendis repudiandae sequi quia nulla maiores? Nihil!
  Perferendis quo quidem assumenda aliquid inventore, numquam aliquam reiciendis porro. Culpa, mollitia autem voluptas
  ipsum repudiandae sapiente. Illo odit, eaque perspiciatis, at modi, obcaecati reprehenderit quasi explicabo dicta
  nemo
  minima?
  Minima magnam ipsam quidem. Explicabo aperiam eligendi laborum cupiditate quae iusto officiis itaque assumenda
  possimus deserunt ab nihil quaerat nemo odit mollitia vel at, et exercitationem incidunt necessitatibus beatae
  nesciunt!
  Facere optio esse sequi, cumque magni eligendi. Commodi maxime ut alias error itaque possimus distinctio eum
  corporis!
  Id quas consequuntur nemo quis praesentium tenetur sapiente facere molestiae, animi dolor quae.
  Earum suscipit assumenda sunt cum in sapiente odio nesciunt qui voluptas vel nemo libero, velit alias sint
  reiciendis
  corrupti accusantium non, quidem dolore repellat accusamus laborum? Magni optio facilis facere.
  Obcaecati assumenda veritatis animi consequatur aliquam doloribus eum neque distinctio? Soluta sapiente temporibus
  atque ipsum, inventore at similique consequuntur tempore corporis laudantium voluptas, suscipit nulla cum ex
  assumenda
  dolorem possimus.
  Pariatur iure veritatis porro ipsam consequatur ad earum fugiat mollitia quo, magnam ipsa quod quidem nam quam
  consequuntur, voluptate cum maiores saepe voluptas sequi! In natus placeat ipsam distinctio accusamus!
  Id, dolor dignissimos a doloribus aspernatur magnam fugit blanditiis delectus, iure aliquam eaque quasi animi modi
  eveniet optio dicta corrupti explicabo saepe dolorum suscipit aut soluta labore odit? Qui, iure.
</section>

<!-- <form [formGroup]="chatForm" (ngSubmit)="sendMessage(this.chatForm.value.user, this.chatForm.value.message)">
  <input type="text" placeholder="Add your user" formControlName="user">
  <input type="text" placeholder="Add your message" formControlName="message">
  <input type="submit" value="Send message">
</form>
<aside>
  <h2>CHAT ROOM</h2>
  <div *ngIf="messages.length > 0 else emptyChatRoom">
    <div *ngFor="let message of messages">
      <p><strong>{{message.user}}: </strong> {{message.description}}</p>
    </div>
  </div>
</aside>

<ng-template #emptyChatRoom>
  <p>No messages</p>
</ng-template> -->